@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply bg-bgmint text-inktext font-sans transition-colors duration-200;
  }

  html.dark,
  html.dark body {
    @apply bg-slate-900 text-slate-100;
  }

  * {
    box-sizing: border-box;
  }
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #3bbfa2;
    border-radius: 999px;
  }
  .scrollbar-thin::-webkit-scrollbar-track {
    background-color: transparent;
  }
}
